/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define U_MOUSE_MOVE_MAX 9250
#define U_MOUSE_MOVE_EXPONENT 1
#define U_MOUSE_MOVE_TIME 1500
#define U_MOUSE_MOVE_DELAY 0

&mmv {
    time-to-max-speed-ms = <1>;             /* <--- How long time until max speed is reached (default: 500) */
};

&lt { quick_tap_ms = <100>; };

/ {
    combos {
        compatible = "zmk,combos";

        Layer_6 {
            bindings = <&mo 0>;
            key-positions = <38 39>;
        };

        Layer_14 {
            bindings = <&mo 0>;
            key-positions = <19 20>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 0 LS(TAB)  &kp Q    &kp W           &kp E       &kp R      &kp T        &kp Y     &kp U        &kp I       &kp O           &kp SEMI  &kp MINUS
&kp TAB        &kp A    &hm LEFT_ALT S  &hm LWIN D  &lt 2 F    &kp G        &kp H     &lt 0 J      &hm LWIN K  &hm LEFT_ALT L  &kp P     &kp ENTER
&kp LSHFT      &lt 0 Z  &lt 0 X         &lt 0 C     &kp V      &kp B        &kp N     &kp M        &kp COMMA   &kp DOT         &kp FSLH  &kp BACKSLASH
                                        &mo 3       &kp LCTRL  &kp LSHFT    &lt 0 F2  &lt 0 SPACE  &mo 0
            >;
        };

        Mac_layer {
            bindings = <
&trans  &trans       &trans  &trans  &trans            &trans    &trans  &trans       &trans  &trans  &trans       &trans
&trans  &hm LCTRL A  &trans  &trans  &trans            &trans    &trans  &trans       &trans  &trans  &hm LCTRL P  &trans
&trans  &trans       &trans  &trans  &trans            &trans    &trans  &trans       &trans  &trans  &trans       &trans
                             &trans  &kp LEFT_COMMAND  &trans    &trans  &lt 0 SPACE  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans         &trans  &kp LC(PAGE_UP)    &trans  &trans       &kp COMMA     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ESC    &trans
&trans  &kp LC(GRAVE)  &trans  &kp LC(PAGE_DOWN)  &trans  &kp EQUAL    &kp PERIOD    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS   &kp ENTER
&trans  &trans         &trans  &trans             &trans  &trans       &kp GRAVE     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS  &trans
                               &trans             &mo 0   &trans       &kp ASTERISK  &kp NUMBER_0  &kp SLASH
            >;
        };

        layer_3 {
            bindings = <
&kp DELETE  &kp LC(DELETE)  &kp RETURN  &kp UP             &kp LC(N)        &kp LC(P)    &trans  &trans  &trans  &trans  &trans  &trans
&kp I       &kp LC(U)       &kp LEFT    &kp DOWN           &kp RIGHT_ARROW  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp LC(I)       &trans      &kp LC(BACKSPACE)  &kp BACKSPACE    &trans       &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans             &trans           &trans       &trans  &trans  &trans
            >;
        };
    };
};
